{% extends 'base.html' %}

{% block title %}{{ profile.user.username }}'s Profile - EduPlatform{% endblock %}

{% block content %}
   <div class="profile-detail">
      <div class="row">
         <div class="col-md-3">
            {% if profile.avatar %}
              <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle">
            {% else %}
              <img src="{% static 'img/default_avatar.png' %}" alt="Default Avatar" class="img-fluid rounded-circle">
            {% endif %}
         </div>
         <div class="col-md-9">
            <h2>{{ profile.user.username }}</h2>
            <p>{{ profile.bio }}</p>
            <p><strong>Gamification Points:</strong> {{ profile.gamification_points }}</p>
            <p><strong>Preferred Language:</strong> {{ profile.preferred_language }}</p>
         </div>
      </div>
   </div>
{% endblock %}
